body {
  text-align: center;
}

ul {
  padding-top: 20px;
}

li {
  display: inline-block;
  list-style: none;
  font-size: 1.5rem;
  font-family: 'gotham rounded', 'open-sans', sans-serif;
  padding: 0 15px;
}

a:hover {
  color: #66BFBF;
}

h1 {
  font-size: 3rem;
}

h1::after {
  content: '-------'
}

h1::before {
  content: '-------'
}

.task1 {
  float: left;
  height: 300px;
  padding-right: 50px;
}

.task2 {
  float: right;
  height: 300px;
  padding-left: 50px;
}

.profile-pic-area {
  height: 600px;
  background-color: #66BFBF;
  /* background-image: image('https://mdn.mozillademos.org/files/7693/catfront.png'); */
}

.info {
  /* left: 30%;
  top: 10%; */
  padding-top: 100px;
  color: #EAF6F6;
}

.heading {
font-size: 2rem;
}

.heading::after {
  content: '-------'
}

.heading::before {
  content: '-------'
}

.task{
  text-align: left;
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 60px;
}

.hobbies {
  background-color: #66BFBF;
  padding-top: 15px;
  padding-bottom: 60px;
}

.bottom-container {
  margin: 50px auto;
  /* background-color: #ABF0E9; */
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 20px;
}
